* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-image: url(./images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

.city h3 {
  font-size: 1.5rem;
  margin-top: 10px;
  text-align: center;
  color: white;
}

.box {
  background-color: rgba(0, 0, 0, 0.3);
  width: 450px;
  height: 450px;
  margin: 100px auto;
}

.box h1 {
  color: rgb(247, 249, 247);
  text-align: center;
}

.search-bar {
  margin-top: 10px;
  margin-left: 50px;
}

.search-bar i {
  font-size: 15px;
}

.search-bar button {
  width: 35px;
  height: 35px;
  border: none;
  padding: 8px;
  border-radius: 50%;
}

.search-bar input {
  outline: none;
  padding: 10px 30px;
  border-radius: 20px;
}

.weather img {
  margin: 5px 175px;
  height: 110px;
  width: 110px;
}
.weather h1 {
  font-size: 4rem;
  text-align: center;
}

.weather-limit span {
  color: white;
  gap: 20px;
}

.weather-limit {
  /* background-color: blue; */
  width: 100%;
    text-align: center;

}

.weather-limit span{
  font-size: 1rem;
  padding: 0 10px;
}

.condition{
  text-align: center;
  color: white;
}